.sidebar {
    width: 240px;
    height: calc(100vh - 110px);
    background: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
    color: #fff;
    padding: 20px;
    overflow: auto;
    flex-shrink: 0;
    border-left: 2px solid #151a34;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin-top: 115px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: 10px 0;
}

.logo {
    display: block;
    height: 1.5cm;
    width: 5cm;
    margin: 0 auto;
}

.nav-item {
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.nav-item img {
    margin-right: 10px;
}

.active {
    color: #ffffff;
    background-color: #b15e1a2f;
    border-right: 3px solid #ff7300;
    padding: 0 0 10px 0;
    padding-top: 1rem;
    border-radius: 5px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
