[Unit]
Description=Anti DDOS BY Frost-Lord
After=nginx.service
Wants=nginx.service

[Service]
Type=simple
User=root
WorkingDirectory=/etc/logshield
ExecStart=node . 2>&1 | tee -a /etc/logshield/log/logshield.log
Restart=on-failure

[Install]
WantedBy=multi-user.target