<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad Gateway | LogShield</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="header">
        <img src="images/logo.png" alt="LogShield Logo" class="logo">
        <h2>Bad Gateway</h2>
        <br>
    </div>
    <p>There was a problem connecting to the origin  server. Please try again later.</p>
    <div class="container">
        <div class="column">
            <img src="images/img1.png" alt="IP Image">
            <p class="main">You</p>
            <p class="sub">IP: <%= userIp %>
            </p>
        </div>
        <img src="images/arrow.png" alt="Arrow" class="arrow">
        <div class="column">
            <img src="images/img2.png" alt="LogShield Image">
            <p class="main">LogShield</p>
            <p class="sub">Edge Network</p>
        </div>
        <img src="images/cross.png" alt="Arrow" class="arrow">
        <div class="column">
            <img src="images/img3.png" alt="Destination Image">
            <p id="destinationDomain" class="main"></p>
            <p class="sub">Your destination</p>
        </div>
    </div>

    <div class="footer">
        <div class="footer-category">
            <h4 class="footer-title">What happened?</h4>
            <br>
            <p class="footer-text">There was a problem that occurred while connecting to <span id="hostname-placeholder">origin server</span> origin server. The server hosting the website might be unavailable.</p>
        </div>
        <div class="footer-category">
            <h4 class="footer-title">What can I do?</h4>
            <br>
            <p class="footer-text">If you are a visitor, please try again in a few minutes. If you are the administrator, please check your origin server or contact LogShield for further assistance.</p>
        </div>
    </div>

    <script>    
        document.getElementById("destinationDomain").textContent = window.location.hostname;
        document.getElementById('hostname-placeholder').textContent = window.location.hostname;
    </script>
</body>

</html>