<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banned | LogShield</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="header">
        <img src="images/logo.png" alt="LogShield Logo" class="logo">
        <h2>LogShield</h2>
        <br>
    </div>
    <p>Your IP address <%= userIp %> has been temporarily banned for suspicious use.</p>
    <div class="container">
        <div class="column">
            <img src="images/img1.png" alt="IP Image">
            <p class="main">You</p>
            <p class="sub">IP: <%= userIp %>
            </p>
        </div>
        <img src="images/cross.png" alt="Arrow" class="arrow">
        <div class="column">
            <img src="images/img2.png" alt="LogShield Image">
            <p class="main">LogShield</p>
            <p class="sub">Edge Network</p>
        </div>
        <img src="images/arrow.png" alt="Arrow" class="arrow">
        <div class="column">
            <img src="images/img3.png" alt="Destination Image">
            <p id="destinationDomain" class="main"></p>
            <p class="sub">Your destination</p>
        </div>
    </div>

    <div class="footer centered-footer">
        <p>DDOS Protected By LogShield</p>
        <br>
        <p>Please contact the site administrator if you believe this ban is in error.</p>
    </div>

    <script>
        document.getElementById("destinationDomain").textContent = window.location.hostname;
    </script>
</body>

</html>