<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DDoS Protection</title>
  <link rel="stylesheet" href="/styles.css">
  <script>
    const Difficulty = "<%= Difficulty %>";
    const secret = '<%= secret %>';
    const userIp = '<%= userIp %>';
  </script>
    <script src="/client.js"></script>
</head>

<body>
  <div class="container" style="color: black;">
    <h2>LogShield</h2>
    <p style="text-align: center; font-size: 12px;">Ray ID: <span id="rayId"><%= secret %></span></p>
    <br>
    <p>Calculating Nonce: <span id="calculatingNonce">...</span></p>
    <p>Submitting Result: <span id="submittingResult">...</span></p>
    <p>Redirecting: <span id="redirecting">...</span></p>
  </div>
</body>

</html>