<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DDoS Protection</title>
  <link rel="stylesheet" href="/styles.css">
  <script>
    const Difficulty = "<%= Difficulty %>";
    const secret = '<%= secret %>';
    const userIp = '<%= userIp %>';
  </script>
  <script src="/client.js"></script>
</head>

<body>
  <div class="header">
    <h2>LogShield</h2>
    <p>Checking your browser before accessing <span id="domain">example.com</span></p>
  </div>
  
  <div class="container">
    <div class="column">
      <img src="ip_image.png" alt="IP Image">
      <p>You</p>
      <p>IP: 110168.31.25</p>
    </div>
    <div class="column">
      <img src="logshield_image.png" alt="LogShield Image">
      <p>LogShield</p>
      <p>Edge Network</p>
    </div>
    <div class="column">
      <img src="destination_image.png" alt="Destination Image">
      <p>example.com</p>
      <p>Your destination</p>
    </div>
  </div>
  
  <div class="footer">
    <p>DDoS Protected By LogShield</p>
    <p>Ray ID: <span id="rayId"><%= secret %></span></p>
    <p>Calculating Nonce: <span id="calculatingNonce">...</span></p>
    <p>Submitting Result: <span id="submittingResult">...</span></p>
    <p>Redirecting: <span id="redirecting">...</span></p>
  </div>
</body>

</html>
