.card {
    flex-grow: 1;
    background-color: #1a191f;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 3.5px solid #222028;
    border-radius: 15px;
    display: block;
    color: rgb(255, 255, 255);
    margin-right: 1cm;
}

.h2{
    font-size: 2rem;
    font-weight: 700;
}

.card-third {
    width: calc(33.33% - 1cm);
    flex-grow: 0;
    background-color: #1a191f;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 3.5px solid #222028;
    border-radius: 15px;
    display: block;
    color: rgb(255, 255, 255);
    margin-right: 1cm;
}

.content {
    /* styles for the content area */
}