.loadingBar {
    height: 1cm;
    background-color: #4fbefb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: calc(100% - 1cm);
    margin: 1cm auto;
    font-size: 1.5rem;
    padding-right: 1cm;
}
