.loadingBar {
    height: 1cm;
    background: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: calc(100% - 2cm);
    margin: 1cm 1cm 1cm 1cm;
    font-size: 1.5rem;
    padding-right: 1cm;
    margin-top: 100px;
    font-weight: bold;
}
