.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #1a191f;
    color: #fff;
    padding: 20px;
    overflow: auto;
    flex-shrink: 0;
    border-right: #26272a;
    border-right-width: 2px;
    border-right-style: solid;
}

.logo {
    display: block;
    height: 1.5cm;
    width: 5cm;
    margin: 0 auto;
}

.nav-item {
    padding: 10px 0;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.nav-item img {
    margin-right: 10px;
}

.active {
    color: #0652dd;
    background-color: #1d2235;
    border-right: 5px solid #0652dd;
    padding: 3px 0;
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}