.sidebar {
    width: 240px; /* Adjust to your needs */
    height: 100vh;
    background-color: #333; /* Adjust to your color scheme */
    color: #fff; /* Adjust to your color scheme */
    padding: 20px;
    overflow: auto;
    flex-shrink: 0; /* Prevents the sidebar from shrinking */
}


.nav-item {
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #444; /* Adjust to your color scheme */
}
